<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status用于设置log4j2自身内部的信息输出,当设置成trace时,可看到log4j2内部各种详细输出 -->
<!-- monitorInterval设置间隔秒数让Log4j能够自动检测修改配置文件和重新配置生效 -->
<Configuration status="WARN">

    <!-- 定义全局属性 -->
    <Properties>
        <Property name="logBasePath">logs/log4j2</Property>
    </Properties>

    <Appenders>
        <!-- 控制台输出模式 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- VM options中添加-Dlog4j.skipJansi=false,%highlight{}生效 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} [%t] %c.%M(%L): %m%n"/>
        </Console>
        <!-- 文件归档输出模式 -->
        <RollingFile name="RollingFile" fileName="${logBasePath}/all.log" filePattern="${basePath}/%d{yyyy-MM}/all-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} [%t] %c.%M(%L): %m%n"/>
            <Policies>
                <!-- interval：日志默认同类型日志,多久生成一个新的日志文件,这个配置需要和filePattern结合使用;
                如果设置为1,filePattern是%d{yyyy-MM-dd}到天的格式,则间隔一天生成一个文件
                如果设置为12,filePattern是%d{yyyy-MM-dd-HH}到小时的格式,则间隔12小时生成一个文件 -->
                <!-- modulate：日志默认同类型日志,是否对封存时间进行调制,若为true,则封存时间将以0点为边界进行调整,
                如:现在是早上3am,interval是4,那么第一次滚动是在4am,接着是8am,12am...而不是7am -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- 日志默认切割的最小单位；先按照天分割，再按照大小分割 -->
                <SizeBasedTriggeringPolicy size="100BM"/>
            </Policies>
            <!-- 设置同类型日志同一文件夹下可以存放的数量,默认存放7个文件 -->
            <DefaultRolloverStrategy max="1000" />
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- 自定义类包路径org.springframework日志级别 -->
        <Logger name="org.springframework" level="info" />

        <!-- 日志级别 -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>